In [21]:
#                                        train_test_split (), a function of 'sklearn.model_selection' module

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('csv files/placement_toy.csv')

In [3]:
df

     cgpa  package
0    6.89     3.26
1    5.12     1.98
2    7.82     3.25
3    7.42     3.67
4    6.94     3.57
..    ...      ...
195  6.93     2.46
196  5.89     2.57
197  7.21     3.24
198  7.63     3.96
199  6.22     2.33

[200 rows x 2 columns]

In [25]:
X = df.iloc[:,0]

In [26]:
X # cpga

0      6.89
1      5.12
2      7.82
3      7.42
4      6.94
       ...
195    6.93
196    5.89
197    7.21
198    7.63
199    6.22
Name: cgpa, Length: 200, dtype: float64

In [27]:
y = df.iloc[:, 1]

In [28]:
y # package

0      3.26
1      1.98
2      3.25
3      3.67
4      3.57
       ...
195    2.46
196    2.57
197    3.24
198    3.96
199    2.33
Name: package, Length: 200, dtype: float64

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=.2, random_state=42 )
# X_train, X_test, y_train, y_test = train_test_split( X, y, train_size=.8, random_state=42 )
# X --> X_train(80%), X_test(20%)
# y --> y_train(80%), y_test(20%)
# convention : input feature uppercase (X), target lowercase (y)
# random_state = constant --> reproduce the exact same split of data every time you run your code by fixing the randomness.

In [31]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(160,)
(40,)
(160,)
(40,)